.body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 20;
  color: blue;
}
.about {
  /* font-family: Arial, sans-serif;
  font-weight: 500;
  text-transform: capitalize;
  /* text-align: justify; */
  letter-spacing: 2px; */
  /* color: rgb(124, 34, 57); */
  /* color: rgba(12, 52, 100, alpha 0.5); */
}

/* 
.box .text {
  color: red;
}

#box p {
  color: blue;
}

.text {
  color: green;
} */

.box p {
  color:blue;
}
span p {
  color:red;
}

/*  */